/* Agrega aquí tus estilos*/
*{
	font-family: 'Changa', sans-serif;
}
h1, h2{

 text-align: center;
 color: rgb(239, 31, 173);

}
 body{
 background-image: url(../img/aa.jpg);
  background-repeat: repeat-y;
  background-image:  rgba(0, 0, 0, 0.5); 
  
  size: content;
  color: #000000;

}

#zen-summary{
    width: 600px;
    border: 5px solid #AD1457;
    padding: 20px;
    height: 150px;
    margin: 40px 10px 50px 600px;
    

  
    
}
#zen-preamble{
    width: 600px;
    border: 5px solid #AD1457;
    padding: 20px;
    height: 350px;
    margin: 60px 10px 50px 600px;
    


}
#zen-explanation{
	width: 600px;
    border: 5px solid pink;
    padding: 20px;
    height: 350px;
    margin: 40px 10px 50px 600px;
    position: absolute;

}
#zen-participation{
    width: 350px;
    height: 700px;
    border: 5px solid green;
    padding: 5px;
    margin: 5px 400px 200px 0px;
    
}
#zen-benefits{
	width: 350px;
    height: 550px;
    border: 5px solid green;
    padding: 5px;
    margin: 0px 400px 50px 0px;

}
#zen-requirements{
	width: 1000px;
    border: 5px solid pink;
    padding: 20px;
    height: 650px;
    margin: 10px 20px 10px 150px;
}
footer{
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 0px 0px 40px 0px;


}
#design-selection{
	width: 300px;
    border: 25px solid green;
    padding: 250px;
    margin: 0px 0px 40px 0px;

}
#design-archives{
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 0px 0px 40px 0px;

}
#zen-resources{
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 0px 0px 40px 0px;

}




